.status-bar {
    position: relative;
}

.fill-level {
    height: 100%;
    transition: width 0.5s ease;
}

.status-bar-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}
