.status-bar {
    background-color: white;
    border: 1px solid;
    position: relative;
    height: 20px;
    overflow: hidden;
}

.fill-level {
    background-color: rgba(140, 253, 140, 0.808);
    height: 100%;
    transition: width 0.5s ease;
}

.status-bar-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
}
