.NONE {
    background-color: var(--color-default-bgColor-0);
}

.FIRST_QUARTILE {
    background-color: var(--color-default-bgColor-1);
}

.SECOND_QUARTILE {
    background-color: var(--color-default-bgColor-2);
}

.THIRD_QUARTILE {
    background-color: var(--color-default-bgColor-3);
}

.FOURTH_QUARTILE {
    background-color: var(--color-default-bgColor-4);
}
