@import 'tailwindcss';

@theme {
      /* Typography */
      --text-xxs: 0.5rem;
      --text-label-xxxs: 0.25rem;
      /* Base Dashboard */
      --color-dashboard-bg: hsl(222, 20%, 8%);
      --color-dashboard-border: hsl(222, 18%, 18%);
      --color-dashboard-text: hsl(220, 20%, 96%);
      --color-dashboard-accent: hsl(220, 90%, 65%);

      /* Clock */
      --color-clock-bg: hsl(208, 65%, 16%);
      --color-clock-border: hsl(208, 65%, 28%);
      --color-clock-text: hsl(210, 25%, 96%);
      --color-clock-accent: hsl(200, 100%, 65%);

      /* Pomodoro */
      --color-pomodoro-bg: hsl(4, 65%, 16%);
      --color-pomodoro-border: hsl(4, 65%, 28%);
      --color-pomodoro-text: hsl(0, 20%, 96%);
      --color-pomodoro-accent: hsl(8, 95%, 65%);
      /* Reading */
      --color-reading-bg: hsl(38, 45%, 16%);
      --color-reading-border: hsl(38, 45%, 28%);
      --color-reading-text: hsl(40, 25%, 96%);
      --color-reading-accent: hsl(42, 100%, 65%);

      /* Tasks */
      --color-tasks-bg: hsl(265, 35%, 16%);
      --color-tasks-border: hsl(265, 35%, 28%);
      --color-tasks-text: hsl(260, 25%, 96%);
      --color-tasks-accent: hsl(270, 100%, 75%);

      /* GitHub */
      --color-github-bg: hsl(220, 18%, 14%);
      --color-github-border: hsl(220, 18%, 26%);
      --color-github-text: hsl(220, 20%, 96%);
      --color-github-accent: hsl(220, 90%, 68%);
      --color-github-map-bg: hsl(216, 28%, 7%);
      --color-default-bgColor-0: #151b23;
      --color-default-bgColor-1: #033a16;
      --color-default-bgColor-2: #196c2e;
      --color-default-bgColor-3: #2ea043;
      --color-default-bgColor-4: #56d364;
      --color-bgColor-hover: #262c36;

      /* Spotify */
      --color-spotify-bg: hsl(145, 65%, 14%);
      --color-spotify-border: hsl(145, 65%, 26%);
      --color-spotify-text: hsl(145, 25%, 96%);
      --color-spotify-accent: hsl(142, 100%, 55%);

      /* Projects */
      --color-projects-bg: hsl(28, 60%, 16%);
      --color-projects-border: hsl(28, 60%, 28%);
      --color-projects-text: hsl(30, 25%, 96%);
      --color-projects-accent: hsl(32, 100%, 65%);
}
